<!DOCTYPE html>
<html lang="fr">
<%- include('head', { pageTitle: 'Page non trouvée' }) %>

    <body>
        <%- include('header') %>
            <main style="text-align: center; padding: 50px;">
                <h2>Erreur 404 - Page non trouvée</h2>
                <p>Désolé, la page que vous cherchez n'existe pas ou a été déplacée.</p>
                <p><a href="/" style="text-decoration: none; color: #333;">Retour à l'accueil</a></p>
            </main>
            <%- include('footer') %>
    </body>

</html>