<!-- file acceuil.ejs
*   @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
*   @version  1
*   @date     25/09/2025
*   @brief    Page d'accueil du site web
-->

<!DOCTYPE html>
<html lang="fr">
<%- include ('partials/head', { pageTitle: 'Accueil' }) %>

    <body>
        body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
        <%- include ('partials/header') %>

            <main style="padding: 20px;">
                <h2>Bienvenue sur la page d'accueil</h2>
                <p>Ceci est un exemple de page d'accueil pour un site web utilisant une architecture RESTful avec
                    Express.</p>
            </main>
    </body>
    <%- include ('partials/footer') %>

</html>